<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Реєстрація</h1>
<form th:action="@{/auth/registration}" method="post" th:object="${cadetUser}">
    <label> Login: <input type="text" th:field="*{username}" id="username" required> </label>
    <div class="error-container" th:if="${#fields.hasErrors('username')}" style="color: red" th:errors="*{username}"></div>
    <br>
    <label> Password: <input type="password" th:field="*{password}" id="password" required> </label>
    <div class="error-container" th:if="${#fields.hasErrors('password')}" style="color: red" th:errors="*{password}"></div>
    <br>
    <button type="submit">Зареєствуватись</button>
</form>
</body>
</html>