<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
На базі:
<div th:each="hobo : ${hobos}">
    <a th:href="@{/sergeant/cadets/{id}(id=${hobo.getId()})}" th:text="${hobo.getAllInformation()}">hobo</a>
</div>
Київляни:
<div th:each="slut : ${sluts}">
    <a th:href="@{/sergeant/cadets/{id}(id=${slut.getId()})}" th:text="${slut.getAllInformation()}">slut</a>
</div>
<a th:href="@{/bot/createduty}"><button>Створити чергування</button></a><br>
Чергування:
<p>ДАТА | КУБАРЬ | ТЕРИТОРІЯ</p>
<div th:each="duty : ${duties}">
    <p th:text="${duty.getDutyDate().toString() + ' | ' + duty.getCubarCadet().getLastName() + ' | ' + duty.getTerkaCadet().getLastName()}">duty</p>
</div>

</body>
</html>