<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/sergeant/cadets}"><button>Сержантська панель</button></a><br>
<form th:action="@{/admin/setsergeant}" th:method="put" >
    <div><label> id : <input type="text" name="userId"/> </label></div>
    <div><input type="submit" value="ОК"/></div>
</form>
<div th:each="user : ${users}">
    <p th:text="${user.getId()+'. ' + user.getUsername()+' ('+ user.getRole()+')'}">hobo</p>
</div>

</body>
</html>